*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
section{
    padding-top: 2%;
}
a{
    text-decoration: none;
}

.espacamentoInicial{
    padding-left: 3rem;
}

@font-face {
    font-family: "FonteTitulos";
    src: url("./fonts/BrownSugar.ttf");
}

@font-face {
    font-family: "FonteSubTitulo";
    src: url("./fonts/Trocchi.ttf");
}



header{
    background-color: #F6BA02;
    position: fixed;
    width: 100%;
}
header>#listaCabecalho{
    list-style: none;
    font-size: 1rem;  
    font-family: FonteSubTitulo;
    display: flex; 
    justify-content: flex-end
}
#listaCabecalho>li{
    padding: 1rem;
    padding-right: 4%;
    margin: 0.5rem;
}
#listaCabecalho>li>a{
    color: black;
}
#listaCabecalho>li:hover{
    background-color: rgba(0, 0, 0, 0.432);
    height: 1rem;
    border-radius: 10px;
    cursor: pointer; 
}
#listaCabecalho > li:hover a {
    color: #F6BA02;
}
#iconeMenu{
    display: none;
}


#inicio{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    padding-top: 5rem;
}
#secaoPrincipal{
    display: block;
}

/* --------------------------------titulos------------------------------------------ */

.titulo>h1, .titulo>h4{
    margin: 0;
}
.titulo>h1{
    font-size: 6rem;
    color: #F6BA02;
    font-family: FonteTitulos;    
}
.titulo>h2{
    font-size: 4rem;
    color: #F6BA02;
    font-family: FonteTitulos;
    border-left: solid 1rem #F6BA02;
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.titulo>h4{
    text-align: end;
    font-size: 2rem;
}


#sobre>.paragrafo{
    width: 80%;
}
#sobre>.paragrafo>p{
    color: black;
    font-size: 1.5rem;
    text-align: justify;
    
}



.formacaoConteudo{
    font-size: 1.5rem;
}
.formacaoConteudo>.conteudo{
    width: 60%;
    text-align: end;
}

.listaFormacao>ul {     
    list-style: none;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease;
    color: rgba(0, 0, 0, 0.568);
    
}

.formacaoConteudo>div>h3{
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 90%);
}
#listaCertificado{
    list-style-type: none;   
}
.itemCertificado{
    padding-left: 2rem;  
    width: 10%;
    margin-bottom: 1rem;
}
.itemCertificado>a{
    color: black;
}
.itemCertificado:hover a{
   color: #dcbb5683;
   text-decoration-line:overline;
}
.listaConhecimento{
    display: flex;
}
.listaConhecimento>li{
    list-style: none;
    margin: 1rem;
    border: solid 1px #F6BA02;
    border-radius: 10px;
    padding: 1rem;
}
#formacaoAcademica>div{
    display: flex;
}
#formacaoAcademica>div>p{
    padding: 1rem;
    border: solid 1px #F6BA02;
    border-radius: 1rem;
    margin: 1rem;
    width: 35%;
}


#listaPortifolio{
    list-style-type: none;
    text-align: left;
    padding: 0;
    padding-left: 10rem;
}
.itemPortifolio{
    border: solid 1px #F6BA02;
    border-radius: 10px;
    width: 70%;
    display: flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.itemPortifolio>ul>li{
    list-style-type: none;
}
.tituloPortifolio{
    text-align: center;
}
.botaoPortifolio{
    text-align: center;
    background-color: #F6BA02;
    height: 2rem;
    width: 95%;
    margin: 1rem;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
}
.imagemPortifolio{
    border-radius: 2rem;
    width: 95%;
    height: 30rem;
    border: solid 1px black;
    margin: 1rem;
    text-align: center;
}
.textoPortifolio{
    margin-left: 1rem;
    margin-right: 1rem;
}



footer{
    background-color:#F6BA02;
    height: 3.2rem;
}
#contato{
    display: flex;
    align-items: center;
    color: #000000c2;
    justify-content: space-around;
}
.listaContato{
    list-style: none;
    display: flex;
    align-items: center;   
}
.icones{
    height: 2rem;
    margin: 0.5rem;
}
.iconeContato:hover{
    border: solid 1px #b78a00;
    border-radius: 10px;
    background-color:#b78a00;
}



#iconeEnviarMensagem{
    position: fixed;
    bottom: 40px;
    right: 46px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: solid 1px #dcbb5683;
    border-radius: 50%;
    cursor: pointer;
}
.iconeMensagem{
    height: 2.8rem;
    width: 3rem;
}
#enviarMensagem{
    position: fixed;
    bottom: 130px;
    right: 20px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: solid 1px #dcbb5683;
    border-radius: 10%;
    display: block;
    text-align: left;
    width: 20rem;
}
#enviarMensagem>div{
    display: flex;
    flex-flow: column;
}
#enviarMensagem>h4{
    text-align: center;
    font-size: 2rem;
    color: #dcbb56;
    padding-bottom: 1rem;
}
#enviarMensagem>div>label{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.867);
    padding-right: 0.5rem;
}
#enviarMensagem>div>input, #enviarMensagem>div>textarea{
    border: solid 1px #dcbb5683;
    border-radius: 0.5rem;
    height: 2rem;
}
#enviarMensagem>div>textarea{
    resize: vertical;
    min-height: 5rem;
    max-height: 10rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
#enviarMensagem>div>button{
    background-color: #dcbb56;
    padding: 0.8rem;
    border: solid 1px rgba(0, 0, 0, 0.36);
    color: black;
    border-radius: 1.5rem;
    text-align: center;
    cursor: pointer; 
}


@media only screen and (max-width: 600px) {

    header {
        text-align: end;
        position: fixed;
        width: 100%;
        border-bottom: 1px black;
    }
    #iconeMenu{
        height: 2rem;
        align-items: end;
        display: inline-block;
    }
    #listaCabecalho>li{
        margin: 0;
    }
    header>#listaCabecalho{
        display: none;
    }
    #listaMenu>li{
        cursor: pointer;
    }
    .itemMenu{        
        padding: 1rem;
        padding-right: 4%;
        margin: 0.5rem;
    }
    #listaCabecalho{
        display: none;
    }

    #inicio{
        display: block;      
        font-size: 1rem; 
        padding-top: 2rem;
    }

    .titulo>h1 {
        font-size: 4rem;
    }
    .titulo>h2{
        font-size: 300%;
    }
    .titulo>h4{
        text-align: end;
        font-size: 1rem;
    }
    

    .formacaoConteudo>div>h3 {
        padding-left: 0.4rem;
        padding-bottom: 0;
        font-size: 1.5rem;
    }
    #formacaoAcademica>div {
        display: block;
    }
    #formacaoAcademica>div>p {
        margin: 0;
        margin-bottom: 1rem;
        width: 80%;
    }

    .listaConhecimento {
        display: block;
    }
    .listaConhecimento>li {
        margin: 0;
        margin-bottom: 1rem;
        width: 80%;
    }

    .itemCertificado {
        position: relative;
        padding-left: 0;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #listaPortifolio {
        padding-left: 0;
    }

    .imagemPortifolio {
        width: 90%;
        height: 20%;
        margin: 1rem;
    }
    .textoPortifolio{
        margin: 1rem;
    }
    .itemPortifolio {
        width: 90%;
    }

    footer {
        height: 100%; 
    }
    #contato{
        display: block;
    }
    .icones {
        height: 1.5rem;
        margin-right: 0.2rem;
    }
    .listaContato>p{
        padding-top: 1rem;
    }
    .imgPerfil{
        margin: 1rem;
        width: 90%;
    }
    #secaoPrincipal {
        display: flex;
        justify-content: space-evenly;
    }
}